<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.DiscussMapper">

    <sql id="SQL">

        id, uid, mid, content, time

    </sql>

    <select id="findByMid" resultType="discuss">

      SELECT
	u.user_name as name,
	d.time,
	d.content
FROM
	movie m,
	USER u,
	discuss d
WHERE

m.id = d.mid
AND d.uid = u.id
AND d.mid = #{id}

    </select>

    <insert id="insertDiscuss">

        INSERT  INTO    discuss(uid, mid, content, time)

        VALUES  (#{uid}, #{mid}, #{content}, #{time})

    </insert>



</mapper>